<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rex.service.mapper.RecentlyPlayedMapper" >
    <resultMap id="getRecentlySongs" type="rex.service.bean.Song">

    </resultMap>

    <insert id="addRecentlyPlayedSong">
        INSERT
        INTO recentlyPlayed(songId,songName,singer,userAccount,time,coverUrl,audioUrl,lrcUrl,album)
        values (#{songId,jdbcType=INTEGER},#{songName,jdbcType=VARCHAR},
                #{singer,jdbcType=VARCHAR},#{userAccount,jdbcType=VARCHAR},
                #{time,jdbcType=BIGINT},#{coverUrl,jdbcType=VARCHAR},
                #{audioUrl,jdbcType=VARCHAR},#{lrcUrl,jdbcType=VARCHAR},
                #{album,jdbcType=VARCHAR})
    </insert>

    <select id="getRecentlyPlayedSongs" resultType="rex.service.bean.Song">
        SELECT *
        FROM recentlyPlayed
        where userAccount=#{userAccount,jdbcType=VARCHAR}
        order by time desc
        limit 100
    </select>

    <delete id="deleteRecentlyPlayerSong">
        DELETE
        FROM recentlyPlayed
        where userAccount=#{userAccount,jdbcType=VARCHAR} AND songId=#{songId,jdbcType=INTEGER}
    </delete>


</mapper>