<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rex.service.mapper.SongListMapper" >
    <insert id="addTypeSongList">
        insert
        into songlist(typeId,songId,songName,singer,coverUrl,lrcUrl,audioUrl,album,time)
        values (#{typeId,jdbcType=INTEGER},#{songId,jdbcType=INTEGER},#{songName,jdbcType=VARCHAR},
                #{singer,jdbcType=VARCHAR},#{coverUrl,jdbcType=VARCHAR},
                #{lrcUrl,jdbcType=VARCHAR},#{audioUrl,jdbcType=VARCHAR},
                #{album,jdbcType=VARCHAR},#{time,jdbcType=BIGINT})
    </insert>

    <select id="getTypeSongList" resultType="rex.service.bean.Song">
        select *
        from songlist
        where typeId=#{typeId,jdbcType=INTEGER}
        order by time desc
    </select>

    <delete id="deleteTypeSongList">
        delete
        from songlist
        where typeId=#{typeId,jdbcType=INTEGER} AND songId=#{songId,jdbcType=INTEGER}
    </delete>
</mapper>
