<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rex.service.mapper.TypeMapper">
    <insert id="addType">
        INSERT
        INTO type(userAccount,type)
        VALUES (#{userAccount,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
    </insert>
    <delete id="deleteType" >
        delete
        from type
        where typeId=#{typeId,jdbcType=INTEGER}
    </delete>
    <select id="getType" resultType="rex.service.bean.Type">
        select *
        from type
        where userAccount=#{userAccount,jdbcType=VARCHAR}
    </select>
    <update id="updateType">
        update type
        set type=#{type,jdbcType=VARCHAR}
        where typeId=#{typeId,jdbcType=INTEGER}
    </update>

    <select id="getTypeCoverUrl" resultType="java.lang.String">
        select coverUrl
        from songList
        where typeId=#{typeId,jdbcType=INTEGER}
        order by time desc
        limit 1
    </select>

    <select id="getLastTypeId" resultType="java.lang.Integer">
        select typeId
        from type
        order by typeId desc
        limit 1
    </select>

    <delete id="deleteTypeSongList" >
        delete
        from songList
        where typeId=#{typeId,jdbcType=INTEGER}
    </delete>

</mapper>